

/** 
 * LOGIN
 */

ul.navbar-nav a.nav-link {
  color: #f0f3f5!important;
}




/* Utilizzo il component callout senza bordo nell'header dell'elenco clienti */

.callout-noborder {
  border-left: 0px;
}


.navbar {
  padding-top:0px!important;
}


/*  bottone crea nuovo a dx */
.to-right {
    position: absolute;
    right: 15px;
}


/* fino a 768px la label deve essere a dx poi a sx */
label.text-change {
  text-align: left !important;
  margin-top: 10px;
}


/*  ingrandisco un po il carattere da usare nella scheda del cliente */
.text-muted {
  font-size: 90%;
}

/*  ordinamento sulle colonne */
th.order {
  cursor: pointer;
  text-decoration: underline;
}

th.order:hover {
  text-decoration: none;
}



/*  header della societa ul li */

.text-muted ul {
    margin: 0;
    padding-left: 0;
}


.text-muted ul li {
  display: inline;
  margin-right: 20px;  
}


/* GRIGLIA delle EVIDENZE */


.Content {
    height: 600px;
    overflow: auto;
    background: #fff;
}

.non_vendibile {
	background-color: #ddd;
}

td.griglia_header {
    height: 50px;
    background-color: #1E1E1E;
    color: #fff;
    text-align: center;
    vertical-align: middle!important;
    font-weight: bold;
    font-size: 16px;
}


/* Paolo Panni*/
.sfondo_5 {
	background-color: orange;
	color: #000;
}

/* Marzio Mini*/
.sfondo_30 {
	background-color: lightgreen;
	color: #000;
}


/* Andrea Dalla Corte*/
.sfondo_10 {
	background-color: yellow;
	color: #000;
}


/* Mirco Masi*/
.sfondo_26 {
	background-color: aqua;
	color: #000;
}

/* Rosa Brigliadori */
.sfondo_27 {
	background-color: hotpink;
	color: #000;
}

/* Andrea Sacchetti */
.sfondo_11 {
	background-color: #BE1400;
	color: #fff;
}

.sfondo_prelazione {
	background-color: #5D5D5D;
	color:#fff;
}


.sfondo_8.acquistata_0, 
.sfondo_10.acquistata_0, 
.sfondo_26.acquistata_0,
.sfondo_27.acquistata_0,
.sfondo_11.acquistata_0,
.sfondo_5.acquistata_0{
 
  box-shadow: 0 0 30px #333;
  height: 0; 
  width: 0; 
}


.legenda ul {
  list-style-type: none;
  width: 100%;
}

div.contenuto_cella {
    margin: auto;
    text-align: center;
    height: 2.5em;
    padding: 0;
}


td.clickable:hover, td.clickable_prelazionata:hover {
  cursor: pointer;

}



/*  classe overlay per le chiamate ajax */


.spinner_lu {
   position: fixed;
   left: 50%;
   top: 50%;
   height:170px;
   width:170px;
   margin:0px auto;
   z-index: 100;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border-left:6px solid rgba(0,174,239,.15);
   border-right:6px solid rgba(0,174,239,.15);
   border-bottom:6px solid rgba(0,174,239,.15);
   border-top:6px solid rgba(0,174,239,.8);
   border-radius:100%;
   background-color:#d6d8d9;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}



/* editable prezzi griglia evidenze  */

.glyphicon-ok:before {
    content: "Salva";
}
.glyphicon-remove:before {
    content: "Annulla";
}
.glyphicon {
    display: inline-block;
    font-family: "Nunito", sans-serif;
    font-style: initial;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.6;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.editable-buttons {
    margin-top: 5px;
}



/* CONTRATTI DIGITALI */

.nascondi {
  display: none!important;
}


.tipo_contratto {
  margin-right: 5px;
  margin-left: 50px;
}

form#form_contratto_digitale {
  margin: 0 35px;
}



.row.header {
  margin-top: 40px;;
}

.row.header label {
  font-weight: bold;
}

input[type='radio'].condizioni_pagamento {
  margin-left: 20px;
}

ul.nav-griglia {
  margin-left:20px;
}


div.evidenze_contratto {
  margin: 10px 35px;
}


/* TOP CORNER  */


td.acquistata_nel_contratto {
  position: relative;
}
td.acquistata_nel_contratto:after { /* Magic Happens Here!!! */
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0; 
  height: 0; 
  display: block;
  border-left: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-top: 20px solid #f00;
} /* </magic> */

/* END TOP CORNER  */



tr.sconto td {
  padding-bottom: 50px!important;
  color: #f00!important;
  border: 0px;
  padding-top: 0;
  margin-top: 0;

}


/* FATTURA */

.pagamento_card_header {
  background-color: #f0f3f5;
  border: 1px solid #ccc;
  font-weight: bold;
}


/*  da 768 in avanti */
@media (min-width: 768px) {

  label.text-change {
    text-align: right !important;
  }

}