/* Utilizzo il component callout senza bordo nell'header dell'elenco clienti */

.callout-noborder {
  border-left: 0px;
}


.navbar {
  padding-top:0px!important;
}


/*  bottone crea nuovo a dx */
.to-right {
    position: absolute;
    right: 15px;
}


/* fino a 768px la label deve essere a dx poi a sx */
label.text-change {
  text-align: left !important;
  margin-top: 10px;
}


/*  ingrandisco un po il carattere da usare nella scheda del cliente */
.text-muted {
  font-size: 90%;
}

/*  ordinamento sulle colonne */
th.order {
  cursor: pointer;
}



/*  header della societa ul li */

.text-muted ul {
    margin: 0;
    padding-left: 0;
}


.text-muted ul li {
  display: inline;
  margin-right: 20px;  
}




/*  da 768 in avanti */
@media (min-width: 768px) {

  label.text-change {
    text-align: right !important;
  }

}