/* Utilizzo il component callout senza bordo nell'header dell'elenco clienti */

.callout-noborder {
  border-left: 0px;
}


.navbar {
  padding-top:0px!important;
}


/*  bottone crea nuovo a dx */
.to-right {
    position: absolute;
    right: 15px;
}


/* fino a 768px la label deve essere a dx poi a sx */
label.text-change {
  text-align: left !important;
  margin-top: 10px;
}


/*  ingrandisco un po il carattere da usare nella scheda del cliente */
.text-muted {
  font-size: 90%;
}

/*  ordinamento sulle colonne */
th.order {
  cursor: pointer;
  text-decoration: underline;
}

th.order:hover {
  text-decoration: none;
}



/*  header della societa ul li */

.text-muted ul {
    margin: 0;
    padding-left: 0;
}


.text-muted ul li {
  display: inline;
  margin-right: 20px;  
}


/* GRIGLIA delle EVIDENZE */


.non_vendibile {
	background-color: #eee;
}




/* Paolo Panni*/
.sfondo_5 {
	background-color: orange;
	color: #000;
}

/* Marzio Mini*/
.sfondo_30 {
	background-color: lightgreen;
	color: #000;
}


/* Andrea Dalla Corte*/
.sfondo_10 {
	background-color: yellow;
	color: #000;
}


/* Mirco Masi*/
.sfondo_26 {
	background-color: aqua;
	color: #000;
}

/* Rosa Brigliadori */
.sfondo_27 {
	background-color: hotpink;
	color: #000;
}

/* Andrea Sacchetti */
.sfondo_11 {
	background-color: #BE1400;
	color: #fff;
}

.sfondo_prelazione {
	background-color: #5D5D5D;
	color:#fff;
}


.sfondo_8.acquistata_0, 
.sfondo_10.acquistata_0, 
.sfondo_26.acquistata_0,
.sfondo_27.acquistata_0,
.sfondo_5.acquistata_0{
 
  box-shadow: 0 0 30px #333;
  height: 0; 
  width: 0; 
}


.legenda ul {
  list-style-type: none;
  width: 100%;
}






/*  da 768 in avanti */
@media (min-width: 768px) {

  label.text-change {
    text-align: right !important;
  }

}